/*
main.css
Author: Clare Meyer
Lab: 03; Exercise: 04
style for main.html
 */

body {
  margin:10%;
  background-color: #fff56b;
}

p {
  color: #ff1616;
}

/*styling for paragraph inside the box that is being changed*/
#changeMe {
  color: black;
  background-color: #fff56b;
  border-color: #ff1616;
  border-style: groove;
  border-width: 30px;
  border-radius: 15px;
  padding: 30px;
}

/*styling for the input text boxes*/
input {
  width: 40%;
  height: 15%;
  margin: 2%;
  font-weight: bold;
}

/*styling for the buttons that navigate through the exercises*/
button.menu {
  width: 10%;
  height: 15%;
  margin: 10px;
  float: center;
}

/*styling for the button that implements the changes to the box*/
button {
  width: 50%;
  height: 20%;
}
