/*
main.css
Author: Clare Meyer
Lab: 03; Exercise: 03
style for main.html
 */

p {
  color: #008ae6;
  font-family: American Typewriter;
  font-size: 30px;
  margin-left: 2%;
}

body {
  background-color: #b30000;
  background-image: url(./background.jpg);
  background-position: right;
  background-size: 40%;
  background-repeat: repeat-y;
}

/*adds background and styling to the name*/
p.backgroundToo {
  background-color: blue;
  display: table;
  background-size: 50%;
}

/*styling for the text describing dereks life*/
p.paragraphStuff {
  color: #008ae6;
  background-color: blue;
  display: table;
  background-size: 50%;
  size: 15px;
}

/*styling for the embedded youtube video*/
iframe {
  margin-left: 2%;
  outline-style: dashed;
  outline-width: 10px;
  outline-color: #008ae6;
  margin-top: 2%;
}

/*styling for the profile picture*/
#profile_pic {
  width: 55%;
  margin-left: 2%;
  outline-style: double;
  outline-width: 10px;
  outline-color: #008ae6;
}

/*styling when you hover over the profile picture*/
#profile_pic:hover {
  outline-color: red;
}

/*styling for links to websites*/
a {
  color: #008ae6;
  background-color: blue;
  display: table;
  background-size: 50%;
  margin-left: 2%;
}

/*styling for when you hover over the links*/
a:hover {
  background-size: 30px;
  background-color: pink;
}
